.layout {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
}

.ant-layout-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: rgb(24, 144, 255);
  background: linear-gradient(
    30deg,
    rgba(24, 144, 255, 1) 0%,
    rgba(103, 125, 233, 1) 100%
  );
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.09), 0 4px 2px rgba(0, 0, 0, 0.09),
    0 8px 4px rgba(0, 0, 0, 0.09), 0 12px 6px rgba(0, 0, 0, 0.06);
}
.ant-layout-content {
  display: flex;
  flex-flow: column nowrap;
}

.ant-btn-background-ghost.ant-btn-link:active,
.ant-btn-background-ghost.ant-btn-link:hover,
.ant-btn-background-ghost.ant-btn-link:focus {
  color: #fff;
}
.ant-btn-background-ghost.ant-btn-link:hover,
.ant-btn-background-ghost.ant-btn-link:focus {
  span {
    text-decoration: underline;
  }
}

.site-layout-content {
  background: #fff;
  padding: 40px;
  height: 100%;
  flex: 1;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.09), 0 -1px 1px rgba(0, 0, 0, 0.12),
    0 4px 2px rgba(0, 0, 0, 0.08), 0 8px 4px rgba(0, 0, 0, 0.07),
    0 12px 6px rgba(0, 0, 0, 0.06);
}

.logo {
  width: 100px;
  height: 40px;
  float: left;
  background: red;
}
